body {
	
}

table {
	margin-top: 15px;
}

thead tr td {
	font-weight: bold;
}

#DetailTable {
	width: 35%;
}

.DetailHeading {
	font-weight: bold;
}

#PageTitle {
	font-size: 2em;
}

#PageSubHeader {
	font-size: 1.3em;
}

#View {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}