body {
	background-color: #c8c8c8;
}

table {
	margin-top: 15px;
}

thead tr td {
	font-weight: bold;
}

#DetailTable {
	width: 35%;
}

.DetailHeading {
	font-weight: bold;
}

#PageTitle {
	font-size: 2em;
}

#PageSubHeader {
	font-size: 1.3em;
}

#View {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;

	background-color: #f8f8f8;

	border-radius: 7px;
}

#Footer {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

	background-color: #f8f8f8;

	border-radius: 7px;
}

#RevealPasswordBtn {
	cursor: pointer;
}

a.GlyphLink {
	text-decoration: none;
}

#homecontent {
	/*width: 80%;*/
	margin: 0 auto;
}

#homecontentleft, #homecontentright {
	display: inline-block;
	vertical-align: text-top;
}

#homecontentleft {
	width: 65%;
	margin-right: 35px;
}

#homecontentright {
	width: 30%;
}