<div>
	<div>
		<span id="PageTitle">List of Purchase Request <span ng-bind="ctrl.PageTitle"></span></span><br />
		<a href="#/purchaserequestlineitems/add/{{ctrl.SelectedPurchaseRequest.ID}}">Add New Line Item</a> - 
		<label>Search: <input ng-model="ctrl.SearchCriteria"></label>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr><th>ID</th><th>Description</th><th>Total</th></tr>
			</thead>
			<tbody>
				<tr>
					<td><span ng-bind="ctrl.SelectedPurchaseRequest.ID"></span></td>
					<td><span ng-bind="ctrl.SelectedPurchaseRequest.Description"></span></td>
					<td>$<span ng-bind="ctrl.SelectedPurchaseRequest.Total"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<td>Product</td>
					<td>Quantity</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="lineItem in ctrl.PurchaseRequestLineItems | filter: ctrl.SearchCriteria">
					<td><span ng-bind="lineItem.Product.Name"></span></td>
					<td><span ng-bind="lineItem.Quantity"></span></td>
					<td>
						<span>
							<button class="btn btn-danger" ng-click="ctrl.Delete(lineItem.ID)">Delete</button>
						</span> | 
						<span><a href="#/purchaserequestlineitems/edit/{{lineItem.ID}}">Edit</a></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>