<div style="width: 45%;">
	<div>
		<span id="PageTitle">Add <span ng-bind="ctrl.PageTitle"></span></span>
	</div>
	<hr>
	<div class="form-group row">
		<label for="purchaserequest-user" class="col-md-3 control-label" style="text-align: right;">User</label>

		<div class="col-md-9">
			<select class="form-control" ng-model="ctrl.NewPurchaseRequest.UserID" id="purchaserequest-user">
				<option ng-repeat="user in ctrl.Users" value="{{user.ID}}">{{user.FirstName + " " + user.LastName}}</option>
			</select> 
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-description" class="col-md-3 control-label" style="text-align: right;">Description</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.NewPurchaseRequest.Description" id="purchaserequest-description">
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-justification" class="col-md-3 control-label" style="text-align: right;">Justification</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.NewPurchaseRequest.Justification" id="purchaserequest-justification">
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-date-submit" class="col-md-3 control-label" style="text-align: right;">Date Submitted</label>

		<div class="col-md-9">
			<input class="form-control" type="text" disabled="disabled"
			ng-model="ctrl.NewPurchaseRequest.SubmittedDate" id="purchaserequest-date-submit">
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-date-needed" class="col-md-3 control-label" style="text-align: right;">Date Needed</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.NewPurchaseRequest.DateNeeded" id="purchaserequest-date-needed">
		</div>		
	</div>

	<div class="form-group row">
		<label for="purchaserequest-delivery-mode" class="col-md-3 control-label" style="text-align: right;">Delivery Mode</label>

		<div class="col-md-9">
			<select class="form-control" ng-model="ctrl.NewPurchaseRequest.DeliveryMode" id="purchaserequest-delivery-mode">
				<option ng-repeat="service in ctrl.DeliveryOptions" value="{{service}}">{{service}}</option>
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-docs" class="col-md-3 control-label" style="text-align: right;">Docs Attached?</label>

		<div class="col-md-2 checkbox">
			<input class="check-box" type="checkbox"
			ng-model="ctrl.NewPurchaseRequest.DocsAttached" id="purchaserequest-docs">
		</div>
	</div>

	<div class="form-group row">
		<label for="purchaserequest-status" class="col-md-3 control-label" style="text-align: right;">Status</label>

		<div class="col-md-9">
			<input class="form-control" type="text" disabled="disabled" 
			ng-model="ctrl.NewPurchaseRequest.Status" id="purchaserequest-status">
		</div>
	</div>

	<div class="form-group row">
		
	</div>

	<div class="col-md-offset-3">
		<button ng-hide="!ctrl.AdminRights" class="btn btn-default" ng-click="ctrl.Add(ctrl.NewPurchaseRequest)">Add</button>
	</div>
</div>