<div>
	<div>
		<span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span><br />
		<a href="#/purchaserequests/add">Create New</a> - 
		<label>Search: <input ng-model="ctrl.SearchCriteria"></label>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Description</th>
					<th>Justification</th>
					<th>Date Needed</th>
					<th>Delivery Mode</th>
					<th>Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="purchaseRequest in ctrl.PurchaseRequests | filter: ctrl.SearchCriteria">
					<td>
						<span ng-bind="purchaseRequest.User.FirstName"></span>
						<span ng-bind="purchaseRequest.User.LastName"></span>
					</td>
					<td><span ng-bind="purchaseRequest.Description"></span></td>
					<td><span ng-bind="purchaseRequest.Justification"></span></td>
					<td><span ng-bind="purchaseRequest.DateNeeded"></span></td>
					<td><span ng-bind="purchaseRequest.DeliveryMode"></span></td>
					<td><span ng-bind="purchaseRequest.Status"></span></td>
					<td>$<span ng-bind="purchaseRequest.Total"></span></td>
					<td>
						<a class="GlyphLink" title="Edit" href="#/purchaserequests/edit/{{purchaseRequest.ID}}">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;
						</a>
						<a class="GlyphLink" title="Details" href="#/purchaserequests/detail/{{purchaseRequest.ID}}">
							<span class="glyphicon glyphicon-list-alt"></span>&nbsp;
						</a>
						<a class="GlyphLink" title="Lines" href="#/purchaserequestlineitems/{{purchaseRequest.ID}}">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>