<div ng-if="ctrl.AdminRights" class="container po">
	<table class='table table-borderless'>
		<thead>
		<tr><th>Vendor</th><th>Customer</th></tr>
		</thead>
		<tbody>
		<tr><td>
			<address>
				<span ng-bind='ctrl.PO.Vendor.Name'></span><br />
				<span ng-bind='ctrl.PO.Vendor.Address'></span><br />
				<span ng-bind='ctrl.PO.Vendor.City'></span>, <span ng-bind='ctrl.PO.Vendor.State'></span> <span ng-bind='ctrl.PO.Vendor.Zip'></span>
			</address>
			</td>
			<td>
				<address>
					<span ng-bind='ctrl.PO.Customer.FirstName + " " + ctrl.PO.Customer.LastName'></span><br />
					<span>MAX Technical Training</span><br />
					<span>4900 Parkway Drive #160</span><br />
					<span>Mason, Ohio 45040</span>
				</address>
			</td></tr>
		</tbody>
	</table>
	<table class='table'>
		<thead>
			<tr>
				<th><span>Product</span></th>
				<th class='text-center'><span>Quantity</span></th>
				<th class='text-right'><span>Price (70%)</span></th>
				<th class='text-right'><span>Line Total</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class='' ng-repeat='poLine in ctrl.PO.LineItems'>
				<td><span ng-bind='poLine.Product'></span></td>
				<td class='text-center'><span ng-bind='poLine.Quantity'></span></td>
				<td class='text-right'><span ng-bind='poLine.Price | currency'></span></td>
				<td class='text-right'><span ng-bind='poLine.LineTotal | currency'></span></td>
			</tr>
			<tr>
				<td class='text-right' colspan="3"><span>Subtotal:</span></td>
				<td class='text-right'><span ng-bind='ctrl.PO.Cost.Subtotal | currency'></span></td>
			</tr>
			<tr>
				<td class='text-right' colspan="3">
					<span>Tax (10%) :</span><br />
					<span>Shipping (5%) :</span>
				</td>
				<td class='text-right'>
					<span ng-bind='ctrl.PO.Cost.Tax | currency'></span><br />
					<span ng-bind='ctrl.PO.Cost.Shipping | currency'>
				</td>
			</tr>
			<tr>
				<td class='text-right' colspan="3"><strong><span>Total:</span></strong></td>
				<td class='text-right'><strong><span ng-bind='ctrl.PO.Cost.Total | currency'></span></strong></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="!ctrl.AdminRights" class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Error:</span>
	You do not have proper clearance to view this domain!
</div>