<div>
	<div>
		<span id="PageTitle"><span ng-bind="ctrl.PageTitle"></span> List</span><br />
		<span ng-if="ctrl.AdminRights"><a href="#/products/add">Create New</a> - </span>
		<label>Search: <input ng-model="ctrl.SearchCriteria"></label>
	</div>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Vendor</th>
					<th>Product</th>
					<th>Part Number</th>
					<th>Price</th>
					<th>Unit</th>
					<th>Photopath</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in ctrl.Products | filter: ctrl.SearchCriteria">
					<td><span ng-bind="product.Vendor.Name"></span></td>
					<td><span ng-bind="product.Name"></span></td>
					<td><span ng-bind="product.VendorPartNumber"></span></td>
					<td><span ng-bind="product.Price"></span></td>
					<td><span ng-bind="product.Unit"></span></td>
					<td><span ng-bind="product.Photopath"></span></td>
					<td>
						<a class="GlyphLink" title="Edit" ng-if="ctrl.AdminRights" href="#/products/edit/{{product.ID}}">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;
						</a>
						<a class="GlyphLink" title="Details" href="#/products/detail/{{product.ID}}">
							<span class="glyphicon glyphicon-list-alt"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>