<div style="width: 45%;">
	<div>
		<span id="PageTitle">Edit <span ng-bind="ctrl.PageTitle"></span></span>
	</div>
	<hr>
	<div class="form-group row">
		<label for="product-vendor" class="col-md-3 control-label" style="text-align: right;">Vendor</label>

		<div class="col-md-9">
			<select class="form-control" ng-model="ctrl.SelectedProduct.VendorID" id="product-vendor"
			ng-options="vendor.ID as vendor.Name for vendor in ctrl.Vendors">
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="product-name" class="col-md-3 control-label" style="text-align: right;">Name</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedProduct.Name" id="product-name">
		</div>
	</div>

	<div class="form-group row">
		<label for="product-part-num" class="col-md-3 control-label" style="text-align: right;">Part Number</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedProduct.VendorPartNumber" id="product-part-num">
		</div>
	</div>

	<div class="form-group row">
		<label for="product-price" class="col-md-3 control-label" style="text-align: right;">Price ($ - USD)</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedProduct.Price" id="product-price">
		</div>
	</div>

	<div class="form-group row">
		<label for="product-unit" class="col-md-3 control-label" style="text-align: right;">Unit</label>

		<div class="col-md-9">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedProduct.Unit" id="product-unit">
		</div>
	</div>

	<div class="form-group row">
		<label for="product-photopath" class="col-md-3 control-label" style="text-align: right;">Photopath</label>

		<div class="col-md-2">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedProduct.Photopath" id="product-photopath">
		</div>
	</div>

	<div class="col-md-offset-3">
		<button ng-hide="!ctrl.AdminRights" class="btn btn-default" ng-click="ctrl.Update(ctrl.SelectedProduct)">Save</button>
	</div>
</div>