<div style="width: 45%;">
	<div>
		<span id="PageTitle">Edit <span ng-bind="ctrl.PageTitle"></span></span>
	</div>
	<hr>
	<div class="form-group row">
		<label for="user-username" class="col-md-3 control-label" style="text-align: right;">Username</label>

		<div class="col-md-5">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedUser.UserName" id="user-username">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-first-name" class="col-md-3 control-label" style="text-align: right;">First Name</label>

		<div class="col-md-7">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedUser.FirstName" id="user-first-name">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-last-name" class="col-md-3 control-label" style="text-align: right;">Last Name</label>

		<div class="col-md-7">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedUser.LastName" id="user-last-name">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-phone" class="col-md-3 control-label" style="text-align: right;">Phone</label>

		<div class="col-md-3">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedUser.Phone" id="user-phone">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-email" class="col-md-3 control-label" style="text-align: right;">Email</label>

		<div class="col-md-7">
			<input class="form-control" type="text"
			ng-model="ctrl.SelectedUser.Email" id="user-email">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-reviewer" class="col-md-3 control-label" style="text-align: right;">Is Reviewer?</label>

		<div class="col-md-2 checkbox">
			<input class="check-box" type="checkbox"
			ng-model="ctrl.SelectedUser.IsReviewer" id="user-reviewer">
		</div>
	</div>

	<div class="form-group row">
		<label for="user-admin" class="col-md-3 control-label" style="text-align: right;">Is Admin?</label>

		<div class="col-md-2 checkbox">
			<input class="check-box" type="checkbox"
			ng-model="ctrl.SelectedUser.IsAdmin" id="user-admin">
		</div>
	</div>

	<div class="col-md-offset-3">
		<button class="btn btn-default" ng-hide="!ctrl.AdminRights" ng-click="ctrl.Update(ctrl.SelectedUser)">Save</button>
	</div>
	<br /><span><a href="#/users">Back to list</a></span>
</div>